<section class="bannerHeader">

  <div class="bannerVidWrap">
    <video class="bannerVideo" src="../../../../assets/video/africapan.mp4" autoplay loop muted></video>
  </div>


  <div class="bannerOvr">

  </div>

  <div class="bannerContent column is-multiline">
    <div class="column is-12">
        <h1 class="is-size-1 has-text-weight-light has-text-white">KEEP</h1>
        <h2 class="is-size-3 has-text-weight-light has-text-white">Kindness Extended to End Poverty</h2>
    </div>
  </div>

</section>
