<div class="section hero is-medium">
  <div class="hero-body columns is-multiline">

    <div class="column is-3 box">
      <h1 class="has-text-centered is-size-3">Donate</h1>

      <div class="column is-12 has-text-centered">
        <span class="icon is-size-4">
          <fa-icon [icon]="faHt" class="fa-heart"></fa-icon>
        </span>
      </div>

      <h3 class="is-size-6">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis asperiores quia nobis excepturi quos rerum, facilis,
        omnis nulla expedita quae quam, explicabo ipsum iure eligendi voluptate voluptatem officia voluptatibus quidem!
      </h3>

      <div>
        <a class="button is-medium" href="https://www.paypal.me/betikeep">Click to Donate</a>
      </div>
    </div>

    <div class="column is-12">
    </div>

  </div>
</div>
