<nav class="navbar is-transparent is-fixed-top mainNav1" role="navigation" aria-label="main navigator">

  <div class="container">
    <div class="navbar-brand">

      <a href="https://bulma.io" class="navbar-item">
        KEEP
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>

    </div>

    <div class="navbar-menu">

      <div class="navbar-start">
        <a href="" class="navbar-item">Home</a>
        <a href="" class="navbar-item">About</a>
        <a href="" class="navbar-item">App</a>
      </div>

      <div class="navbar-end">
        <a href="" class="navbar-item">Blog</a>
        <a href="" class="navbar-item">Donate</a>
        <a href="" class="navbar-item">Contact</a>
      </div>
    </div>

  </div>

</nav>
