<app-cover></app-cover>

<section class="hero is-multiline">
    <div class="hero-body columns is-multiline">

      <div class="column is-12">
        <h1 class="is-size-1 has-text-weight-light has-text-centered">Lets
          <span class="keepHilite has-text-weight-semibold">KEEP</span> the Love Going</h1>
      </div>

      <div class="column is-12 has-text-centered">
        <span class="icon is-size-1">
          <fa-icon [icon]="faHt" class="fa-heart"></fa-icon>
        </span>
      </div>

      <div class="column is-offset-4 is-4">
        <p class="is-size-4 has-text-centered">Your donation helps
          <span class="keepHilite"> KEEP</span> give the necessary attention and support to those who are impacted the most by poverty stricken communities.
        </p>
      </div>

      <div class="column is-offset-one-third is-4 has-text-centered">
        <a routerLink="/donate" class="button is-large is-fullwidth">
          <span class="keepHilite">Help Support Us</span>
        </a>
      </div>

    </div>
  </section>

  <section class="hero heroColor has-text-white has-addons-centered">
    <div class="container">


      <div class="hero-body columns is-multiline">


        <div class="column is-6 is-narrow">
          <h1 class="title is-1 is-capitalized has-text-white has-text-weight-light">Vision</h1>
          <p class="is-size-5 has-text-weight-normal has-text-white">
            Our goal is to reach people of all races and cultures throughout the world to extend kindness to meet their needs. We are
            open to helping people excel in all areas or their lives. We strive to provide basichuman needs. We will also
            provide health care, educational, and other Psychosocial needs. Our partners are willing to extend kindness that
            will help change the world we live in. With love and kindness, we are able to make the world a much better place
            for all human to live.
          </p>
          <div class="column is-vertical">
            <a routerLink="/about" class="button is-white is-large is-outlined has-text-centered">Find Out More</a>
          </div>
        </div>

        <div class="column is-6 vision-img">
          <div class="visImg1 has-text-right">
            <img src="../assets/group2.jpg" alt="">
          </div>

          <div class="visImg2 has-text-centered">
            <img src="../assets/group1.jpg" alt="">
          </div>
        </div>


      </div>
    </div>
  </section>

  <section class="hero">
    <div class="hero-body columns is-multiline">
      <div class="column is-12">
        <h1 class="is-size-1 has-text-weight-light has-text-centered">Get Involved</h1>
      </div>

      <div class="container">
        <div class="columns has-text-centered">

          <div class="column level">

            <div class="level-item">
              <fa-icon [icon]="faGlAf" class="fa-heart is-size-1"></fa-icon>
            </div>

            <div class="level-item box">
              <p>Donate</p>
            </div>

          </div>

          <div class="column level">

            <div class="level-item">
              <fa-icon [icon]="faShake" class="fa-heart is-size-1"></fa-icon>
            </div>

            <div class="level-item box">
              <p>Volunteer</p>
            </div>

          </div>


          <div class="column level">

            <div class="level-item">
              <fa-icon [icon]="faMega" class="fa-heart is-size-1"></fa-icon>
            </div>

            <div class="level-item box">
              <p class="">Be a Voice</p>
            </div>

          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="hero heroColor has-text-white">
    <div class="hero-body columns is-multiline has-text-centered">

      <div class="column is-12">
        <h1 class="is-size-1 has-text-weight-light">Upcoming Events</h1>
      </div>

      <div class="column is-12">
        <fa-icon [icon]="faCal" class="is-size-1"></fa-icon>
      </div>

      <div id="evntContainer" class="column is-12">
        <button class="button is-medium is-white is-outlined">Click for Event</button>
      </div>

    </div>
  </section>

  <section class="hero columns">
    <div class="container">
      <div class="hero-body has-text-centered">

        <div class="column">
          <h1 class="is-size-1 has-text-weight-light">Checkout our Blog!</h1>
        </div>

        <div class="column">
          <fa-icon [icon]="faNews" class="is-size-1 fa-heart"></fa-icon>
        </div>

        <div class="column">
          <a routerLink="/blog" class="button is-dark is-outlined">Read What's New</a>
        </div>
      </div>

    </div>
  </section>

  <section class="hero heroColor has-text-white">
    <div class="hero-body container">

      <div class="columns is-full has-text-centered">
        <h1 class="is-size-1 column has-text-weight-light">Subscribe to our E-mail</h1>
      </div>

      <div class="columns is-6 is-offset-3 has-text-centered">
        <fa-icon [icon]="faEnv" class="column is-size-1"></fa-icon>
      </div>


      <div class="columns is-6 is-offset-3">
        <p class="column is-6 is-offset-3 is-size-4 has-text-centered">
          Want to stay up to date with us in the future? Sign-up to our mailing list and you will be the first to know what's going
          on.
        </p>
      </div>

      <div class="column is-half is-offset-3 box">
        <div class="field">
          <label class="label fa-heart">Name: </label>
          <div class="control">
            <input class="input" type="text" placeholder="First and Last Name">
          </div>
        </div>

        <div class="field">
          <label class="label fa-heart">Email: </label>
          <div class="control">
            <input type="text" class="input" placeholder="Email Address">
          </div>
        </div>

        <div class="field">
          <div class="control has-text-centered">
            <a class="button is-medium is-outlined is-danger">Submit</a>
          </div>
        </div>

      </div>

    </div>
  </section>

  <section class="hero is-dark">
    <div class="hero-body">
      <div class="has-text-centered">
        <p>2018 © KEEP.org</p>
      </div>
    </div>
  </section>